<% layout("/layouts/boilerplate.ejs") %>
<body background="/images/adbg.png">
  <div class="bigdiv">
    <div class="leftdiv">
      <div class="upperleft">
        <img class="brandimage" src="<%= listing.image %>" alt="image" />
        <div class="div456">
          <div class="brandname"><%= listing.Brand %></div>
          <div class="marketingtype"><%= listing.target %></div>
        </div>
      </div>
      <div class="lowerleft">
        <div class="desc">
          <p class="discription"><%= listing.Brief %></p>
        </div>
      </div>
    </div>
    <div class="rightdiv">
      <img class="phone" src="/images/phone.png" alt="" />
      <iframe
        class="ad"
        width="560"
        height="315"
        src="https://www.youtube.com/embed/<%= listing.video %>"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
    </div>
  </div>
  <div class="bottom">
    <div class="bottomleft">
      <img class="hashtagpng" src="/images/hashtags.png" alt="" />
    </div>
    <div class="bottomright">
      <p class="hashtags">HashTags: <%= listing.tags %></p>
    </div>
  </div>
  <div class="price">
    <div class="pricediv">
      <div class="vertprice">
        <h1 class="headingprice">Price Per View:</h1>
        <h1 class="headingprice1">₹20</h1>
      </div>
    </div>
    <img class="eyepng" src="/images/eye.png" alt="" />
  </div>
  <div class="buttons">
    <div>
      <button class="button1">
        <img class="downloadimg" src="/images/Than.png" alt="" />
      </button>
    </div>
    <div>
      <form action="https://www.facebook.com/stories/create">
        <button class="button2">
          <img class="socialmedia" src="/images/socialmedia.png" alt="" />
        </button>
      </form>
    </div>
    <div>
      <form action="/submission">
        <button class="button3">
          <img class="screenshot" src="/images/screenshot.png" alt="" />
        </button>
      </form>
    </div>
  </div>
</body>
